.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 502px;
  height: 184px;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px #0000001a;
  border-radius: 5px;
  padding: 20px;
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #2196f3;
}

.firstSpan {
  font-size: 12px;
  color: #a0b0b9;
  font-weight: bold;
  width: 90px;
}

.secondSpan {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: bold;
}

.button {
  width: 502px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: #2196f3;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.button:hover {
  border: 1px solid blue;
  cursor: pointer;
}

.button:active {
  scale: 0.99;
}
